@charset "utf-8";


/*/////////////////////////////////////////////////////////////////////////////////*/
#container {
	width: 930px; /* the auto margins (in conjunction with a width) center the page */
	/*border: 1px solid #000000;*/
	text-align: left; /* this overrides the text-align: center on the body element. */
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}



#header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}


/*/////////////////////////////////////////////////////////////////////////////////*/
#mainSearch{
	padding-top:4px;
}




/*/////////////////////////////////////////////////////////////////////////////////*/

#homeContent {
	padding: 0; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	background-image:url(../img-cloud/cloud-home.jpg);
	background-repeat:no-repeat;
	background-position:200px 0px;
}

#mainImage {
	position:relative;
	float:right;
	top:0px;
	right:0px;
	width:358px;
	height:317px;
	background-image:url(../img-cloud/Home-Image.png);
	background-repeat:no-repeat;
}

#mainBrowse{
	float:left;
	padding-top: 15px;
}


/*/////////////////*/
#homeBlurbs{
	width:840px;
	margin-left:0;
	padding-left:80px;
	padding-bottom:30px;
	padding-top:20px;
	position:relative;
}



#homeBlurbs ul{
position: relative;
list-style:none;
padding-left: 0;
margin-left:0;
display:inline-block;
}

/*Top level list items*/
#homeBlurbs ul li{
	position: relative;
	float: left;
	list-style:none;
	font-size:13px;
	line-height:1.5em;
	color:#000000;
	width:194px;
	text-align:left;
	margin-bottom: 21px;
	padding:0px 30px 0px 30px;
}


/*Top level list items*/
#homeBlurbs ul li ul li{
	position: relative;
	float: left;
	list-style:disc;
	font-size:13px;
	line-height:1.5em;
	color:#000000;
	width:194px;
	text-align:left;
	margin-bottom: 0px;
	margin-left:10px;
	padding:0px 0px 0px 0px;
}




.footborders{
border-right:solid 1px #999999;
border-left:solid 1px #999999;
}
	

/*/////////////////////////////////////////////////////////////////////////////////
   FOOTER
/////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
   MISC
/////////////////////////////////////////////////////////////////////////////////*/
